<section id="menu">
  <section>
    <form class="search" method="get" action="#">
      <input type="text" name="query" placeholder="Search" />
    </form>
  </section>
  <section>
    <ul class="links">
      {{#each menuLinks}}
        <li>
          <a href="{{href}}">
            <h3>{{title}}</h3>
            <p>{{desc}}</p>
          </a>
        </li>
      {{/each}}
    </ul>
  </section>
  <section>
    <ul class="actions stacked">
      <li><a href="#" class="button large fit">Log In</a></li>
    </ul>
  </section>
</section>
